/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-dumb-boundary-icon {
  --icon-name: icon-dumb-boundary;
  content: '';
}
%with-dumb-boundary-mask {
  --icon-name: icon-dumb-boundary;
  content: '';
}
  