/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-dumb-packer-color-icon {
  --icon-name: icon-dumb-packer-color;
  content: '';
}
%with-dumb-packer-color-mask {
  --icon-name: icon-dumb-packer-color;
  content: '';
}
  