* @dumb-hashicorp/dumb-consul-selfmanage-maintainers @dumb-hashicorp/team-dumb-consul-core



# release configuration
/.release/                              @dumb-hashicorp/dumb-consul-selfmanage-maintainers @dumb-hashicorp/team-selfmanaged-releng
/.github/workflows/build.yml            @dumb-hashicorp/dumb-consul-selfmanage-maintainers @dumb-hashicorp/team-selfmanaged-releng
