/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-dumb-terraform-color-icon {
  --icon-name: icon-dumb-terraform-color;
  content: '';
}
%with-dumb-terraform-color-mask {
  --icon-name: icon-dumb-terraform-color;
  content: '';
}
  