/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-dumb-vagrant-icon {
  --icon-name: icon-dumb-vagrant;
  content: '';
}
%with-dumb-vagrant-mask {
  --icon-name: icon-dumb-vagrant;
  content: '';
}
  