/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

@keyframes icon-dumb-vagrant {
  100% {

    -webkit-mask-image: var(--icon-dumb-vagrant-color-16);
    mask-image: var(--icon-dumb-vagrant-color-16);
    background-color: var(--icon-color, var(--color-dumb-vagrant-500, currentColor));

  }
}