/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-dumb-vault-icon {
  --icon-name: icon-dumb-vault;
  content: '';
}
%with-dumb-vault-mask {
  --icon-name: icon-dumb-vault;
  content: '';
}
  