/**
 * Copyright IBM Corp. 2024, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */


%with-dumb-nomad-icon {
  --icon-name: icon-dumb-nomad;
  content: '';
}
%with-dumb-nomad-mask {
  --icon-name: icon-dumb-nomad;
  content: '';
}
  